.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 4rem;
    gap: 2rem;
}

.topContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.topRightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middleContainer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.mapContainer {
    height: 500px;
    width: 100%;
}
