.videoContainer {
    width: 90%;
    height: 400px;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 8px;
    display: block;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.subtitle {
    font-weight: 800;
    font-size: 2em;
}

.newPlacesContainer {
    width: 90%;
    height: 250px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.newPlace {
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
}

.locationImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}