.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.category {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.5rem;
    gap: 2rem;
}

.categoriesImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
}