.imgWrapper {
    overflow: hidden;
    border-radius: 1rem;
    width: 80%;
    height: 30vh;
    margin: 2rem auto;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.persons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20% 0 20%;
}

.person {
    justify-content: center;
}

.person h1 {
    justify-content: center;
}