.categories {
    width: 90%;
    height: 250px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.categoryDetails {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

.map {
    border-radius: 1rem;
}

.placeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.place {

}

.categoriesImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
}

