.topContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Abstand zwischen Kategorie-Header und Map */
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    align-items: start;
}

.mapContainer {
    width: 100%;
    min-height: 200px;
    margin-bottom: 2rem;
}

.categoryDetails {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr;
    align-items: start;
}

@media (max-width: 768px) {
    .categoryDetails {
        grid-template-columns: 1fr;
    }
}

.placeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.place {
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.categoriesImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}
